<div class="col-xl-12 col-lg-12 d-flex">
    <div class="container align-self-center p-6 pt-4">
        <h3 class="font-weight-bold mb-3">CUESTIONARIO DE PERCEPCIÓN DE CLIMA LABORAL Y NO DISCRIMINACIÓN</h3>
        <hr>
        <b>Indicaciones</b>
        <p>Por favor subraye la respuesta a cada reactivo de manera franca, con el objeto de que este ejercicio aporte lo necesario para su mejor aprovechamiento.</p>
        <div class="col-xl-12 col-lg-12">
            <div class="bts text-center ms-6 me-6 ">
                <button class="btn  btnes active " [routerLink]="['docentes']" style="color: #204d84; " type="button "><span class="icon"><i class="fas fa-light fa-school fa-2x"></i></span> <br>Docentes</button>
                <button class="btn  btnes " [routerLink]="['administrativos']" style="color: black;" type=" button "> <span class="icon"><i class="fas fa-regular fa-computer fa-2x"></i></span> <br>Administración</button>
                <button class="btn  btnes  " [routerLink]="['servicios']" style="color: black;" type="button "><span class="icon"><i class="fas fa-solid fa-people-group fa-2x"></i></span> <br>Servicios generales</button>
            </div>
        </div>

    </div>
</div>

<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Clima laboral libre de violencia</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Nunca</th>
                    <th scope="col">Algunas veces</th>
                    <th scope="col">Con frecuencia</th>
                    <th scope="col">Siempre</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">24</th>
                    <td>Usted siente que se le trata con respeto en su trabajo actual.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault24" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault24" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault24" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault24" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">25</th>
                    <td>En su centro de trabajo quienes realizan tareas personales para las y los jefes logran privilegios.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault25" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault25" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault25" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault25" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">26</th>
                    <td>En su centro de trabajo todas las personas que laboran obtienen un trato digno y decente.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault26" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault25" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault25" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault25" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">27</th>
                    <td>En su centro de trabajo las valoraciones que se realizan a sus actividades dependen más de la calidad y responsabilidad que de cualquier otra cuestión personal.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault27" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault27" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault27" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault27" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">28</th>
                    <td>En su centro de trabajo, en general hay personas que discriminan, tratan mal o le faltan al respeto a sus compañeras (os), colegas o subordinadas (os)</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault28" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault28" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault28" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault28" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">29</th>
                    <td>En su centro de trabajo debido a sus características personales hay personas que sufren un trato inferior o de burla.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault29" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault29" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault29" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault29" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">30</th>
                    <td>En su centro de trabajo las y los superiores reciben un trato mucho más respetuoso que subordinados (as) y personal administrativo.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault30" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault30" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault30" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault30" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">31</th>
                    <td>En su centro de trabajo las y los superiores están abiertos a la comunicación con el personal.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault31" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault31" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault31" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault31" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">32</th>
                    <td>En su centro de trabajo se da un trato inferior o discriminatorio a las personas con los más bajos niveles de sueldo.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault32" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault32" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault32" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault32" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row">33</th>
                    <td>En su centro de trabajo existen campañas de difusión internas de promoción de la igualdad laboral y no discriminación.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault33" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault33" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault33" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault33" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">34</th>
                    <td>En su centro de trabajo se toman acciones como: asilamiento de sus compañeras(os), cambio de lugar repentinamente, falta de instrucciones, menosprecio del esfuerzo o propuestas, imposición de tareas sin los medios para realizarlas.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">35</th>
                    <td>En su centro de trabajo las funciones y tareas se transmiten de manera clara y precisa.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">36</th>
                    <td>En su centro de trabajo las cargas de trabajo se distribuyen de acuerdo a la responsabilidad del cargo.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>

                </tr>

                <tr>
                    <th scope="row">37</th>
                    <td>Si manifiesto mi preocupación sobre algún asunto relacionado con la igualdad de género o prácticas discriminatorias, se le da seguimiento.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>



<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Acoso y hostigamiento</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Si</th>
                    <th scope="col">No</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">38</th>
                    <td>En su centro de trabajo ha recibido, comentarios sugestivos o sexistas, bromas ofensivas, miradas obscenas o petición de pláticas indeseables relacionadas con asuntos sexuales.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault38" id="flexRadioDefault1">
                        </div>

                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault38" id="flexRadioDefault1">
                        </div>
                </tr>

                <tr>
                    <th scope="row">39</th>
                    <td>En su centro de trabajo ha recibido proposiciones o peticiones directas o indirectas para establecer una relación sexual.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault39" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault39" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">40</th>
                    <td>En su centro de trabajo ha vivido contacto físico sexual no deseado.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault40" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault40" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">41</th>
                    <td>En su centro de trabajo se logran recompensas o incentivos laborales a cambio de favores sexuales.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault41" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault41" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">42</th>
                    <td>En su centro de trabajo se reciben amenazas con daños o castigos en caso de no acceder a proporcionar favores sexuales.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault42" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault42" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">43</th>
                    <td>En su centro de trabajo ha recibido represalias sin razón o amenazas con relación a su permanencia en el trabajo.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault43" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault43" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">44</th>
                    <td>En caso de que haya sido víctima de acoso u hostigamiento sexual, en su centro de trabajo resolvieron satisfactoriamente su caso al interior o le canalizaron con las autoridades competentes.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault44" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault44" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">45</th>
                    <td>En caso de ser acosada (o) u hostigada (o) sexual o laboralmente en su centro de trabajo sabe a qué autoridad puede dirigirse para denunciarlo.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault45" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault45" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </section>
</div>
<div class="container pb-3 ">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class=" page-link ">Anterior</span>
                </li>
                <li class="page-item disabled"><a class="page-link text-black " href="docentes ">1</a></li>
                <li class="page-item disabled "><a class="page-link text-black " href="partedos ">2</a></li>
                <li class="seleccionado active ">
                    <span class="page-link ">
                      3
                      <span class="sr-only "></span>
                    </span>
                </li>
                <li class="page-item disabled"><a class="page-link text-black " href="partecuatro ">4</a></li>

                <li class="page-item ">
                    <a href="partecuatro " class="page-link text-black ">Siguiente</a>
                </li>

            </ul>
        </nav>

    </div>
</div>
<footer>
    <div class="container ">
        <div class="row ">
            <div class="col-12 text-center my-1 ">
                <a>Este documento es propiedad intelectual del TecNM por lo que queda prohibida su reproducción parcial o total.</a>
                <br>
                <hr>
            </div>
        </div>
    </div>
</footer>