<div class="col-xl-12 col-lg-12 d-flex">
    <div class="container align-self-center p-6 pt-4">
        <h3 class="font-weight-bold mb-3">CUESTIONARIO DE PERCEPCIÓN DE CLIMA LABORAL Y NO DISCRIMINACIÓN</h3>
        <hr>
        <p class="mb-4">El presente cuestionario, es una herramienta de medición de clima organizacional, cuyo objetivo es conocer la percepción que tienen las personas que laboran en los centros de trabajo, sobre aquellos aspectos sociales que conforman su entorno laboral
            y que facilitan o dificultan su desempeño. La información vertida en este cuestionario es estrictamente confidencial y no implica ninguna responsabilidad para los participantes. </p>
        <b>Indicaciones</b>
        <p>Por favor subraye la respuesta a cada reactivo de manera franca, con el objeto de que este ejercicio aporte lo necesario para su mejor aprovechamiento.</p>
        <div class="col-xl-12 col-lg-12">
            <div class="bts text-center ms-6 me-6 ">
                <button class="btn  btnes  " [routerLink]="['docentes']" style="color: #204d84; " type="button "><span class="icon"><i class="fas fa-light fa-school fa-2x"></i></span> <br>Docentes</button>
                <button class="btn  btnes active " [routerLink]="['administrativos']" style="color: black;" type=" button "> <span class="icon"><i class="fas fa-regular fa-computer fa-2x"></i></span> <br>Administración</button>
                <button class="btn  btnes  " [routerLink]="['servicios']" style="color: black;" type="button "><span class="icon"><i class="fas fa-solid fa-people-group fa-2x"></i></span> <br>Servicios generales</button>
            </div>
        </div>

    </div>
</div>
<div class="container seccionR">
    <div class="p-3  text-white colorclarPrincipal">
        <h3 class="">Datos Generales</h3>

    </div>
</div>
<div class=" container recluta">
    <section>

        <div class="row">
            <div class="col">
                <label class="col-sm-12 col-form-label">Sexo</label>
                <div class="col"><select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <option selected></option>
                                            <option value="1">Mujer</option>
                                            <option value="2">Hombre</option>
                                        </select>
                </div>
            </div>
            <div class="col">
                <label class="col-sm-12 col-form-label">Edad</label>
                <div class="col"><select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <option selected></option>
                                            <option value="1">15 a 29</option>
                                            <option value="2">30 a 39</option>
                                            <option value="3">40 a 49</option>
                                            <option value="3">50 a 59</option>
                                            <option value="3">60 y más</option>
                                        </select>
                </div>
            </div>
            <div class="col">
                <label class="col-sm-12 col-form-label">Estado civil o conyugal</label>
                <div class="col"><select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <option selected></option>
                                            <option value="1">Soltera (o)</option>
                                            <option value="2">Casada (o)</option>
                                            <option value="3">Unión libre</option>
                                            <option value="3">Divorciada (o)</option>
                                            <option value="3">Viuda (o)</option>
                                        </select>
                </div>
            </div>

        </div>
        <!-- Radio -->

        <label class="col-sm-12 col-form-label">Años de antigüedad en el centro de trabajo</label>
        <div class="row align-items-start">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="1" formControlName="antiguedad" id="radioUno">
                    <label class="form-check-label" for="radioUno">
                                            Menos de un año
                                        </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="2" formControlName="antiguedad" id="radioDos">
                    <label class="form-check-label" for="radioDos">
                                            De 1 a 3 años
                                        </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="3" formControlName="antiguedad" id="radioTres">
                    <label class="form-check-label" for="radioTres">
                                            De 4 a 9 años
                                        </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="4" formControlName="antiguedad" id="radioCuatro">
                    <label class="form-check-label" for="radioTres">
                                            Más de 10 años
                                        </label>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------->

        <div class="row">
            <div class="col">
                <label class="col-sm-12 col-form-label">Escolaridad</label>
                <div class="col"><select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <option selected></option>
                                            <option value="1">Sin escolaridad</option>
                                            <option value="2">Primaria</option>
                                            <option value="3">Secundaria</option>
                                            <option value="3">Bachillerato o preparatoria</option>
                                            <option value="3">Carrera técnica</option>
                                            <option value="3">Licenciatura</option>
                                            <option value="3">Maestría</option>
                                            <option value="3">Doctorado</option>
                                        </select>
                </div>
            </div>
            <div class="col">
                <label class="col-sm-12 col-form-label">Horario de trabajo</label>
                <div class="col"><select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Selecciona el horario</option>
                    <option value="1">Matutino</option>
                    <option value="2">Vespertino</option>
                    <option value="3">Ambos</option>
                                        </select>
                </div>
            </div>
        </div>
        <!----------------------------------------------------------------->
        <!--Tipo plaza-->


        <div class="row my-2">
            <div class="col">
                <label class="col-sm-12 col-form-label">Tipo de plaza</label>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="B" formControlName="tipoPlaza" id="radioUno">
                            <label class="form-check-label" for="radioUno">
                                                    Base
                                                </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="H" formControlName="tipoPlaza" id="radioDos">
                            <label class="form-check-label" for="radioDos">
                                                    Honorarios
                                                </label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="C" formControlName="tipoPlaza" id="radioTres">
                            <label class="form-check-label" for="radioTres">
                                                    Confianza
                                                </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <label class="col-sm-12 col-form-label">¿Tienes alguna discapacidad?</label>
                <div class="row">
                    <div class="col-2">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="S" formControlName="discapacidad" id="radioSi">
                            <label class="form-check-label" for="radioSi">
                                                    Si
                                                </label>
                        </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="N" formControlName="discapacidad" id="radioNo">
                            <label class="form-check-label" for="radioNo">
                                                    No
                                                </label>
                        </div>
                    </div>
                    <div class="col"><select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                <option selected></option>
                                                <option value="1">Intelectual</option>
                                                <option value="2">Motriz</option>
                                                <option value="3">Auditiva</option>
                                                <option value="3">Visual</option>
                                            </select>
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------------------------------------------------------->

        <!------------------------------------------------------------->
        <p class="mt-3">Solo para fines estadísticos de igualdad laboral y no discriminación, solicitamos conteste la siguiente pregunta de manera voluntaria</p>

        <!----------------------------------------------------------------->

        <div class="row my-2">
            <div class="col">
                <label class="col col-form-label">Formas parte de alguno de los siguientes sectores de la
                                        población</label>
                <div class="row">
                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="B" formControlName="sectoresPoblacion" id="radioUno">
                            <label class="form-check-label" for="radioUno">
                                                    Si
                                                </label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="H" formControlName="sectoresPoblacion" id="radioDos">
                            <label class="form-check-label" for="radioDos">
                                                    No
                                                </label>
                        </div>
                    </div>
                    <div class="col"><select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                <option selected>Cual</option>
                                                <option value="1">De la diversidad sexual</option>
                                                <option value="2">Indígenas</option>
                                                <option value="3">Afrodescendientes</option>
                                                <option value="2">Adultos mayores</option>
                                                <option value="3">Otros</option>
                                            </select>
                    </div>
                </div>

            </div>

        </div>
        <!----------------------------------------------------------------->


        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio"></th>
                    <th scope="col">Si</th>
                    <th scope="col">No</th>
                    <th scope="col">No sé</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>En su centro de trabajo existe una política de igualdad laboral y no discriminación</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>

                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>En su centro de trabajo existe un código de ética y/o conducta</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>En su centro de trabajo existe un comité de igualdad y no discriminación</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td>En su centro de trabajo existe un mecanismo para prevenir, atender y sancionar las prácticas de discriminación y violencia laboral</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>

                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </section>
</div>

<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Reclutamiento y selección de personal</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Si</th>
                    <th scope="col">No</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Para su contratación fue más importante ser mujer u hombre que sus habilidades profesionales.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                        </div>

                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                        </div>

                    </td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>En su centro de trabajo el proceso de contratación favorece más a personas jóvenes.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>En el momento de su contratación, su edad fue determinante.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Para su contratación fue determinante su apariencia física.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </section>

</div>

<div class="container pb-3 ">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                </li>
                <li class="seleccionado active">
                    <span class="page-link">
                      1
                      <span class="sr-only"></span>
                    </span>
                </li>
                <li class="page-item disabled"><a class="page-link text-black " href="#">2</a></li>
                <li class="page-item disabled"><a class="page-link text-black " href="#">3</a></li>
                <li class="page-item ">
                    <a href="partedos" class="page-link  text-black ">Siguiente</a>
                </li>
            </ul>
        </nav>

    </div>
</div>



<footer>
    <div class="container ">
        <div class="row ">
            <div class="col-12 text-center my-1 ">
                <a>Este documento es propiedad intelectual del TecNM por lo que queda prohibida su reproducción parcial o total.</a>
                <br>
                <hr>
            </div>
        </div>
    </div>
</footer>