<div class="col-xl-12 col-lg-12 d-flex">
    <div class="container align-self-center p-6 pt-4">
        <h3 class="font-weight-bold mb-3">CUESTIONARIO DE PERCEPCIÓN DE CLIMA LABORAL Y NO DISCRIMINACIÓN</h3>
        <hr>
        <b>Indicaciones</b>
        <p>Por favor subraye la respuesta a cada reactivo de manera franca, con el objeto de que este ejercicio aporte lo necesario para su mejor aprovechamiento.</p>
        <div class="col-xl-12 col-lg-12">
            <div class="bts text-center ms-6 me-6 ">
                <button class="btn  btnes active " [routerLink]="['docentes']" style="color: #204d84; " type="button "><span class="icon"><i class="fas fa-light fa-school fa-2x"></i></span> <br>Docentes</button>
                <button class="btn  btnes " [routerLink]="['administrativos']" style="color: black;" type=" button "> <span class="icon"><i class="fas fa-regular fa-computer fa-2x"></i></span> <br>Administración</button>
                <button class="btn  btnes  " [routerLink]="['servicios']" style="color: black;" type="button "><span class="icon"><i class="fas fa-solid fa-people-group fa-2x"></i></span> <br>Servicios generales</button>
            </div>
        </div>

    </div>
</div>


<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Accesibilidad</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Nunca</th>
                    <th scope="col">Algunas veces</th>
                    <th scope="col">Con frecuencia</th>
                    <th scope="col">Siempre</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">46</th>
                    <td>En su centro de trabajo se cuenta con el espacio, mobiliario y equipo adecuado para personas con discapacidad
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault46" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault46" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault46" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault46" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">47</th>
                    <td>Considera que las instalaciones de su centro de trabajo son adecuadas y accesibles para personas con discapacidad (rampas, estacionamiento, sanitarios, oficinas, pasillos, escaleras, elevadores, entre otros)
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault47" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault47" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault47" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault47" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">48</th>
                    <td>En su centro de trabajo se cuenta con los medios tecnológicos y de comunicación accesible para que cualquier persona con discapacidad desempeñe sus actividades de manera óptima.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault48" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault48" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault48" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault48" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">49</th>
                    <td>En su centro de trabajo se contemplan mecanismos o políticas de inclusión laboral para personas con discapacidad, personas adultas mayores o con VIH, entre otras.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault49" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault49" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault49" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault49" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">50</th>
                    <td>En su centro de trabajo se utiliza lenguaje incluyente y no sexista.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault50" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault50" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault50" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault50" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>


<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Respeto a la diversidad</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Nunca</th>
                    <th scope="col">Algunas veces</th>
                    <th scope="col">Con frecuencia</th>
                    <th scope="col">Siempre</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">51</th>
                    <td>En su centro de trabajo hay un ambiente de respeto y no discriminación hacia las diferencias y preferencias sexuales.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault51" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault51" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault51" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault51" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">52</th>
                    <td>En su centro de trabajo ha sido testigo de actos discriminatorios por ser mujer u hombre, por edad, apariencia, discapacidad, entre otros.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault52" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault52" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault52" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault52" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>





            </tbody>
        </table>
    </section>
</div>

<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Condiciones generales de trabajo</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Nunca</th>
                    <th scope="col">Algunas veces</th>
                    <th scope="col">Con frecuencia</th>
                    <th scope="col">Siempre</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">53</th>
                    <td>En su centro de trabajo se proporcionan las prestaciones de ley.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault53" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault53" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault53" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault53" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">54</th>
                    <td>En su centro de trabajo las y los directivos apoyan la igualdad y no discriminación
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault54" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault54" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault54" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault54" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">55</th>
                    <td>En su centro de trabajo los mecanismos utilizados para asegurar la igualdad y no discriminación son eficaces.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault55" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault55" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault55" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault55" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">56</th>
                    <td>En su centro de trabajo se recibe un salario igual por igual trabajo sin importar sexo, apariencia, edad u otras características personales.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault56" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault56" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault56" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault56" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>





            </tbody>
        </table>
    </section>
</div>
<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button type="submit" class="btn btn-primary w-50" (click)="iniciar() ">Guardar</button>
    </div>
</div>

<footer>
    <div class="containerfooter ">
        <div class="row ">
            <div class="col-12 text-center mt-6 ">
                <a>Este documento es propiedad intelectual del TecNM por lo que queda prohibida su reproducción parcial o total.</a>
                <br>
                <hr>
            </div>
        </div>
    </div>
</footer>