<div class="col-xl-12 col-lg-12 d-flex">
    <div class="container align-self-center p-6 pt-4">
        <h3 class="font-weight-bold mb-3">CUESTIONARIO DE PERCEPCIÓN DE CLIMA LABORAL Y NO DISCRIMINACIÓN</h3>
        <hr>
        <b>Indicaciones</b>
        <p>Por favor subraye la respuesta a cada reactivo de manera franca, con el objeto de que este ejercicio aporte lo necesario para su mejor aprovechamiento.</p>
        <div class="col-xl-12 col-lg-12">
            <div class="bts text-center ms-6 me-6 ">
                <button class="btn  btnes active " [routerLink]="['docentes']" style="color: #204d84; " type="button "><span class="icon"><i class="fas fa-light fa-school fa-2x"></i></span> <br>Docentes</button>
                <button class="btn  btnes " [routerLink]="['administrativos']" style="color: black;" type=" button "> <span class="icon"><i class="fas fa-regular fa-computer fa-2x"></i></span> <br>Administración</button>
                <button class="btn  btnes  " [routerLink]="['servicios']" style="color: black;" type="button "><span class="icon"><i class="fas fa-solid fa-people-group fa-2x"></i></span> <br>Servicios generales</button>
            </div>
        </div>

    </div>
</div>

<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Formación y capacitación</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Nunca</th>
                    <th scope="col">Algunas veces</th>
                    <th scope="col">Con frecuencia</th>
                    <th scope="col">Siempre</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">5</th>
                    <td>En su centro de trabajo las oportunidades de desarrollo laboral solo las reciben unas cuántas personas privilegiadas.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td>En su centro de trabajo mujeres y hombres tienen por igual oportunidades de ascenso y capacitación.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">7</th>
                    <td>En su centro de trabajo se cuenta con programas de capacitación en materia de igualdad laboral y no discriminación.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td>En los últimos 12 meses usted ha participado en programas de capacitación.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </section>
</div>

<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Permanencia y ascenso</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Nunca</th>
                    <th scope="col">Algunas veces</th>
                    <th scope="col">Con frecuencia</th>
                    <th scope="col">Siempre</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">9</th>
                    <td>En su centro de trabajo para lograr la contratación, una promoción o un ascenso cuentan más las recomendaciones que los conocimientos y capacidades de la persona.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">10</th>
                    <td>En su centro de trabajo se ha despedido a alguna mujer por embarazo u orillado a renunciar al regresar de su licencia de maternidad.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">11</th>
                    <td>En su centro de trabajo la competencia por mejores puestos, condiciones laborales o salariales es justas</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault11" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault11" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault11" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault11" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">12</th>
                    <td>En su centro de trabajo mujeres y hombres tienen las mismas oportunidades para ocupar puestos de decisión.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault12" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault12" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault12" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault12" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">13</th>
                    <td>En su centro de trabajo se cuenta con un sistema de evaluación de desempeño del personal.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault13" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault13" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault13" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault13" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">14</th>
                    <td>En los últimos 12 meses le han realizado una evaluación de desempeño.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>




            </tbody>
        </table>
    </section>
</div>


<div class="container seccionR">
    <div class="p-3   colorclar">
        <h3 class="">Corresponsabilidad en la vida laboral, familiar y personal</h3>
    </div>
</div>

<div class="container recluta">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="espacio">Reactivo</th>
                    <th scope="col">Nunca</th>
                    <th scope="col">Algunas veces</th>
                    <th scope="col">Con frecuencia</th>
                    <th scope="col">Siempre</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">15</th>
                    <td>En su centro de trabajo tanto mujeres como hombres tienen las mismas facilidades para atender problemas familiares no previstos.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">16</th>
                    <td>En su centro de trabajo las mujeres embarazadas enfrentan un clima laboral hostil.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault16" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault16" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault16" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault16" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">17</th>
                    <td>En su centro de trabajo las personas que se hacen cargo de personas o familiares que requieren cuidados enfrentan un clima laboral hostil.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault17" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault17" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault17" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault17" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">18</th>
                    <td>En su centro de trabajo los hombres cuentan con licencia de paternidad por nacimiento o adopción de una hija(o)</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault18" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault18" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault18" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault18" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">19</th>
                    <td>En su centro de trabajo la licencia de paternidad se otorga por más de cinco días.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault19" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault19" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault19" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault19" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">20</th>
                    <td>En su centro de trabajo se otorgan permisos para atender situaciones familiares como cuidado de hijas e hijos, personas enfermas o personas adultas mayores.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault20" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault20" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault20" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault20" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">21</th>
                    <td>En su centro de trabajo existen convenios con prestadores de servicios que contemplen beneficios para el personal tales como: lavanderías, comedores, planchadurías, transporte, entre otros.</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault21" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault21" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault21" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault21" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">22</th>
                    <td>En su centro de trabajo, si usted decidiera usar las opciones de trabajo flexibles ¿se cuestionaría su compromiso ante su trabajo?</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault22" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault22" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault22" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault22" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">23</th>
                    <td>En su centro de trabajo usted puede acercarse a su jefa (e) inmediata (o)n para hablar sobre cuestiones relacionadas con horarios que le estén afectando.
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault23" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault23" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault23" id="flexRadioDefault1">
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault23" id="flexRadioDefault1">
                        </div>
                    </td>
                </tr>




            </tbody>
        </table>
    </section>
</div>
<div class="container pb-3 ">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class=" page-link ">Anterior</span>
                </li>
                <li class="page-item disabled"><a class="page-link text-black " href="docentes ">1</a></li>

                <li class="seleccionado active ">
                    <span class="page-link ">
                      2
                      <span class="sr-only "></span>
                    </span>
                </li>
                <li class="page-item disabled "><a class="page-link text-black " href="# ">3</a></li>
                <li class="page-item disabled "><a class="page-link text-black " href="# ">4</a></li>

                <li class="page-item ">
                    <a href="partetres " class="page-link text-black ">Siguiente</a>
                </li>
            </ul>
        </nav>

    </div>
</div>



<footer>
    <div class="container ">
        <div class="row ">
            <div class="col-12 text-center my-1 ">
                <a>Este documento es propiedad intelectual del TecNM por lo que queda prohibida su reproducción parcial o total.</a>
                <br>
                <hr>
            </div>
        </div>
    </div>
</footer>