<div class="col-xl-12 col-lg-12 d-flex">
    <div class="container align-self-center p-6 pt-4">
        <h3 class="font-weight-bold mb-3">CUESTIONARIO DE PERCEPCIÓN DE CLIMA LABORAL Y NO DISCRIMINACIÓN</h3>
        <hr>
        <p class="mb-4">El presente cuestionario, es una herramienta de medición de clima organizacional, cuyo objetivo es conocer la percepción que tienen las personas que laboran en los centros de trabajo, sobre aquellos aspectos sociales que conforman su entorno laboral
            y que facilitan o dificultan su desempeño. La información vertida en este cuestionario es estrictamente confidencial y no implica ninguna responsabilidad para los participantes. </p>
        <b>Indicaciones</b>
        <p>Por favor subraye la respuesta a cada reactivo de manera franca, con el objeto de que este ejercicio aporte lo necesario para su mejor aprovechamiento.</p>
        <div class="col-xl-12 col-lg-12">
            <b>   Seleccione una opcion
            </b>
            <div class="bts text-center ms-6 me-6 ">
                <br>

                <button class="btn  btnes " [routerLink]="['docentes']" style="color: #204d84; " type="button "><span class="icon"><i class="fas fa-light fa-school fa-2x"></i></span> <br>Docentes</button>
                <button class="btn  btnes " [routerLink]="['administrativos']" style="color: black;" type=" button "> <span class="icon"><i class="fas fa-regular fa-computer fa-2x"></i></span> <br>Administración</button>
                <button class="btn  btnes  " [routerLink]="['servicios']" style="color: black;" type="button "><span class="icon"><i class="fas fa-solid fa-people-group fa-2x"></i></span> <br>Servicios generales</button>
            </div>
        </div>

    </div>
</div>



<footer>
    <div class="container ">
        <div class="row ">
            <div class="col-12 text-center ">
                <a>Este documento es propiedad intelectual del TecNM por lo que queda prohibida su reproducción parcial o total.</a>
                <br>
                <hr>
            </div>
        </div>
    </div>
</footer>